
body{
    margin:0;
    padding:0 ;
    background: lightskyblue;
}
#button{

    width:100px;
    height:20px;
    margin-top: 5%;
}

div{
    margin-top: 20%;
    padding-top: 10%;
    margin-left: 30%;
    text-align: center;
    width: 500px;
    height:300px;
    border: 1px solid white;
    border-radius: 23px;
    background: white;
}
